{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}
    <main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Punny headline</h1>
      <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
      {# <a class="btn btn-outline-secondary" href="{{path('fiche_produit')}}/{{produit.id}}">Coming soon</a> #}
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for produit in produits %}
        <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{produit.nom}}</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{produit.nom}}</text></svg>

              <div class="card-body">
                <p class="card-text">{{produit.description|slice(0,30)}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" href="{{path('fiche_produit')}}/{{produit.id}}" class="btn btn-sm btn-outline-secondary">View</a>
                    <a type="button" href="{{path('editProd', {"id": produit.id})}}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a type="button" href="{{path('deleteProd', {"id": produit.id})}}" class="btn btn-sm btn-outline-secondary" onclick="return confirm('Attention ce produit va être supprimé')">Supprimer</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
      </div>
    </div>
  </div>
    </main>
{% endblock %}
